* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Bitter', serif;
}

nav {
  width:  444px;
  flex-direction: row;
  display:  flex;
  padding: 3px;
  border: 1px solid #994636;
  background-color: #EAF4D3;
}



.container {
  display:  flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
  align-items:flex-start;
  align-content: space-around;
  padding: 3px;
}

.subcontainer {
  display:  flex;
  width: 320px;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-around;
  align-items:flex-start;
  align-content: space-around;
  padding: 3px;
  margin-right: 10px;
}


.source {
  flex: 0 0 1;
  width:  315px;
  height: 215px;
  display:  flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items:center;
  align-content: space-around;
  border: 2px solid #666666 ;
  border-radius: 6px;
  background-color: #ccddcc;
  padding: 3px;
  margin: 10;
  font-size: 6em;
  color: #666666;
}

.arrow {
  flex: 0 0 1;
	width: 0;
  align-self: center;
	height: 0;
	border-top: 40px solid transparent;
	border-left: 100px solid gray;
	border-bottom: 40px solid transparent;
  margin: 20px;
}

.plate {
  flex: 0 0 1;
  margin: 10;
  width:  315px;
  height: 215px;
  display:  flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items:flex-start;
  align-content: space-around;
  border: 2px solid #666666 ;
  border-radius: 6px;
  background-color: #dddddd;
  padding: 3px;
}

.well {
  width:  23px;
  height: 23px;
  border: 1px solid #666666 ;
  flex: 0 0 23px;
  border-radius: 23px;
  background-color: #eeeeee;
  margin: 1px;
}

.plate2 {
  flex: 0 0 1;
  margin: 10;
  display:  flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items:stretch;
  align-content: space-around;
  border: 2px solid #666666 ;
  border-radius: 6px;
  background-color: #dddddd;
  padding: 3px;
}

.column {
  flex: 0 0 1;
  display:  flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items:flex-start;
  align-content: space-around;
  background-color: #dddddd;
}

#main {
  flex: 0 0 1;
  display:  flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items:flex-start;
  align-content: space-around;
  background-color: #dddddd;
}



/*some distinct colors*/
.c1 { background-color: hsl(10, 50%, 75%);}
.c2 { background-color: hsl(20, 50%, 75%);}
.c3 { background-color: hsl(30, 50%, 75%);}
.c4 { background-color: hsl(40, 50%, 75%);}
.c5 { background-color: hsl(50, 50%, 75%);}
.c6 { background-color: hsl(60, 50%, 75%);}
.c7 { background-color: hsl(70, 50%, 75%);}
.c8 { background-color: hsl(80, 50%, 75%);}
.c9 { background-color: hsl(90, 50%, 75%);}
.c10 { background-color: hsl(100, 50%, 75%);}
.c11 { background-color: hsl(110, 50%, 75%);}
.c12 { background-color: hsl(120, 50%, 75%);}
.c13 { background-color: hsl(130, 50%, 75%);}
.c14 { background-color: hsl(140, 50%, 75%);}
.c15 { background-color: hsl(150, 50%, 75%);}
.c16 { background-color: hsl(160, 50%, 75%);}
.c17 { background-color: hsl(170, 50%, 75%);}
.c18 { background-color: hsl(180, 50%, 75%);}
.c19 { background-color: hsl(190, 50%, 75%);}
.c20 { background-color: hsl(200, 50%, 75%);}
.c21 { background-color: hsl(210, 50%, 75%);}
.c22 { background-color: hsl(220, 50%, 75%);}
.c23 { background-color: hsl(230, 50%, 75%);}
.c24 { background-color: hsl(240, 50%, 75%);}
.c25 { background-color: hsl(250, 50%, 75%);}
.c26 { background-color: hsl(260, 50%, 75%);}
.c27 { background-color: hsl(270, 50%, 75%);}
.c28 { background-color: hsl(280, 50%, 75%);}
.c29 { background-color: hsl(290, 50%, 75%);}
.c30 { background-color: hsl(300, 50%, 75%);}
.c31 { background-color: hsl(310, 50%, 75%);}
.c32 { background-color: hsl(320, 50%, 75%);}
.c33 { background-color: hsl(330, 50%, 75%);}
.c34 { background-color: hsl(340, 50%, 75%);}
.c35 { background-color: hsl(350, 50%, 75%);}
.c0 { background-color: hsl(360, 50%, 75%);}
